:root{

    --cor-principal: #f9d02a; /*amarelo*/
    --cor-secundaria: black;/*preta*/
    --cor-segundoPlano: #ece650;/*amarelo claro*/

    --cor-btn-primary-fonte: black;
    --cor-btn-secondary-fonte: #f9d02a;

}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}