body {
    margin-top:8%;
    background-color: Gold;
    font-family: 'Nunito', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 300;
    line-height: 1.5;

}
.bg-gold{
    font-size: small;
    color: #000000;
    background-color: Gold;
}
.btn-Gold {
    --bs-btn-color: #000;
    --bs-btn-bg: #f5c400;
    --bs-btn-border-color: #f5c400;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f4de87;
    --bs-btn-hover-border-color: #f4de87;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #f4de87;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f4de87;
    --bs-btn-disabled-border-color: #f5c400;
}
.alert {
    font-size:smaller;
    --bs-alert-padding-x: 0.3rem!important;
    --bs-alert-padding-y: 0.3rem!important;
    position: relative;
}
.alert-dismissible .btn-close {
    padding: 0.6rem 1rem!important;
}
.alert-dismissible {
    padding-right: 0.1rem!important;
}